{% extends 'kasse/enchor.html' %}
{% block contents %}
{% load static %}
<div id ="countercontainer"> 
<h1 id="head"> <i class="fa-solid fa-gauge-high">{{total}} </i></h1>
{% if sector %}
<table id="countertable">

    <tr> <td>  Dates</td>  <td> Shopping {{sector.0.m}} Costs :{{nt}} </td> <td> {{sector.0.interv}}  </td> </tr>
    {% for s in sector %}
    <tr>  <td colspan="2" class="buskettitle"> {{s.name}} {{s.m}}<i class="fa-solid fa-gauge-high"> {{s.newcounter}} </i>  </td> <td class="buskettitle"> {{s.counter}} </td> </tr> 
   {% for b in s.buskets %}

    <tr> 
      <td class="countertd1">{{b.date}} </td>
      
        
        <td class="countertd2" > {% for g  in b.goods  %} {{g}} {% endfor %} </td>
        
      
       <td lass="countertd3" > {{b.costs}} </td>
    </tr>
    
      
    {% endfor %}
    
    {% endfor %}
   
</table>
{% else %}
<h4>You have not added any sector yet ! </h4>
 <h4><a href="{% url 'sectors'%}" ><i class="fa-regular fa-square-plus">Add</i>  </a> </h4>
{% endif %}
</div>

<link rel="stylesheet" href="{% static 'kasse/style.css' %}">
<script src="{% static 'kasse/kasse.js' %}"></script>

{% endblock  %}