{% extends 'kasse/enchor.html' %}
{% block contents %}
{% load static %}
<div id ="countercontainer"> 
<h1 id="head"> <i class="fa-solid fa-gauge-high">{{total}} </i></h1>
{% if sector %}
<table id="countertable">

    <tr> <td class="tdgray">  Dates</td>  <td class="tdgray" > Shopping {{sector.0.m}} Costs :{{nt}}/ {{bud}}</td> <td class="tdgray" > {{sector.0.interv}}  </td> </tr>
    {% for s in sector %}
    <tr>  <td colspan="2" class="buskettitle"> {{s.name}} {{s.m}}<i class="fa-solid fa-gauge-high"> {{s.newcounter}} </i>  </td> <td class="buskettitle"> {{s.counter}} </td> </tr> 
   {% for b in s.buskets %}

    <tr class="brow"> 
      <td class="countertd1">{{b.date}} </td>
      
        
        <td class="countertd2" > {% for g  in b.goods  %} {{g}} {% endfor %} </td>
        
      
       <td class="countertd3" > 
        {{b.costs}} 
        <form class="counterform" method="GET" action="{% url 'updateb' %}" enctype="multipart/form-data" >
          <input class="checker" name="sector" value="{{s.name}}">
          <input class="checker" name="busket" value="{{b.date}}">
          <button class="btn upd" ><i class="fa-solid fa-pen"></i> </button>
        </form>
        <form class="counterform" method="GET" action="{% url 'deleteb' %}" enctype="multipart/form-data" >
          <input class="checker" name="sector" value="{{s.name}}">
          <input class="checker" name="busket" value="{{b.date}}">
          <button class="btn del" ><i class="fa-solid fa-trash-can"></i> </button>
        </form>
        
      </td>
    </tr>
    
      
    {% endfor %}
    
    {% endfor %}
   
</table>
{% elif not maga %}
<h4> You are not loged in ! <a href="{% url 'login' %}"> Login </a> </h4>
{% else %}

<h4>You have not added any sector yet ! </h4>
 <h4><a href="{% url 'sectors'%}" ><i class="fa-regular fa-square-plus">Add</i>  </a> </h4>
{% endif %}
</div>

<link rel="stylesheet" href="{% static 'kasse/style.css' %}">
<script src="{% static 'kasse/kasse.js' %}"></script>

{% endblock  %}