{% extends 'kasse/enchor.html' %}
{% block contents %}
{% load static %}
<div id="marketContainer"> 
<h1 id="head"> {{sc.name}} <i class="fa-solid fa-sack-dollar {{sc.decor}}">{{sc.rest}}</i> </h1>
<h3><i class="fa-solid fa-cart-plus" id="korb">0</i> </h3>

    <div id="basketdiv"> 
         
            <form id="sform" method="POST"  action="{% url 'shop' %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <input name="goodnum" id="goodnum"  class="addform0" style="display:none;" >
                <div> <h3>Shopping list :{{sc.len}} </h3>
               <input name="id" class="addform0" value={{sc.name}}> 
                {% for l in sc.list  %}
                <input class="goodId addform0" value="{{l}}" style="display:none;">
                
                <label for("{{l}}") > <input type="checkbox" class="goods">   {{l}} </label>
                
                {% endfor %}
                <div> <h3>Expense: </h3>
                    <input type="number" step="any" name="prise" > 
                </div>
                <div> <h3>Comment(optional)</h3>
                <div> 
                    <textarea name="comment" id="" cols="30" rows="5"></textarea>
                </div> 
                
                <input type="submit" class="buy">


            </form>
      
    </div>
    
</div>

<link rel="stylesheet" href="{% static 'kasse/style.css' %}">
<script src="{% static 'kasse/kasse.js' %}"></script>

{% endblock  %}