{% extends 'plan/root.html' %}
{% block contents %}
{% load static %}
<div id="plusdiv"> 
    <h1 id="head" > Delete {{d.task}}  ? </h1>
<h4 id="time"> {{t}} : <span id="daily" > </span> </h4>
<form  method="GET" enctype="multipart/form-data" action ="{% url 'delete'%}"  >
    <input class="deleteform" name="id" value="{{d.id}}" >
    <input class="deleteform" name="date" value="{{d.date}}" >


    <div> 
         <h6><a href="{% url 'days' %}"> NO </a> </h6>
          
          
          <h6 > <input type="submit" value="YES" class="danger">  </h6>
          
        </div>

    </form>
</div>

<link rel="stylesheet" href="{% static 'plan/style.css' %}">
<script src="{% static 'plan/index.js' %}"></script>

{% endblock  %}