{% extends 'plan/root.html' %}
{% block contents %}
{% load static %}

<div class="tab">
<h1 id="head" class="head">MONTHLY PLAN</h1>
<h6 id="time" class="head"> {{t}} </h6>
<span class="period todayperiod"> {{period.seting1}}<i class="fa-solid fa-arrow-right" ></i>{{period.seting2}}</span>
<form  method="POST" enctype="multipart/form-data" class="deleteform">
   
    {% csrf_token %}
    <input name="delete" id="deletes">
<input type="submit" id="deleteb" >
</form>
<form  method="GET" enctype="multipart/form-data">
    <select id="msel" name="msel"> 
    <option value="{{sel.val}}">{{sel.name}} </option>
    {% for m in mo1 %}
    <option value="{{m.val}}">{{m.name}} </option>
    {% endfor %}
    </select>
    <input type="submit"  id="monSubmit">
    </form>
{% if mo %}
<table >
    <tr> <td>Time </td>  <td> Tasks </td></tr>
{% for m in mo %}
<tr  > <td colspan="2" class="wdate" > <h5> {{m.0.date}}</h5></td></tr>
{% for n in m %}
<tr class="pointed-row"><td class="wtask1" ></td>  <td class="wtask">{{n.begin}}-{{n.end}} </td>  <td class="wtask mtab"> {{n.task}} <span class="edit-delete" > <i class="fa-solid fa-pen deleteupdate" id='{{n.date}}_{{n.id }}' ></i> <i class="fa-solid fa-trash-can deleteupdate" id='{{n.date}}_{{n.id }}'></i> </span></td></tr>
{% endfor %}

{% endfor %}

</table>
{% else %}
<h4> You have no Program for this Month ! </h4>
<h4><a href="{% url 'add'%}" ><i class="fa-regular fa-square-plus">Add</i>  </a> </h4>
{% endif %}

</div>
<link rel="stylesheet" href="{% static 'plan/style.css' %}">
<script src="{% static 'plan/index.js' %}"></script>
{% endblock  %}