{% extends 'plan/root.html' %}
{% block contents %}
{% load static %}
<div id ="plusdiv"> 
<h1 id="head"> Add week Headlines! </h1>
<h4 id="time"> {{t}} : <span id="daily" > </span> </h4>
<form id="wform" method="POST" action="{% url 'disprog' %}" enctype="multipart/form-data">

  {% csrf_token %}

  <div > 
    <input class="deleteform" id="timereserve1" name="l" >
    
  <table>
    <!--<input name="del" id="del">-->
    <th class="period"> {{period.seting1}}<i class="fa-solid fa-arrow-right"></i>{{period.seting2}}</th>
    
      {% for l in lines %}
      <tr> 
      <td> 
      <span> <i class="fa-solid fa-xmark anul" id="{{d}}-{{w}}:{{l}}">{{l}}</i> </span>
    </td>
  </tr>
      {% endfor %}
     
   
  </table>
  </div>
  <input class="deleteform" type="submit" id="goAnul" >
</form>

<form id="wform" method="POST" action="{% url 'lines' %}" enctype="multipart/form-data">

      {% csrf_token %}
    
      <label for"date"> WEEK
    <input type="datetime-local" name="week" value='{{d}}' >
    <input name="line"> 
    
    <a href="{% url 'lines' %}"><button> <i class="fa-regular fa-paper-plane" id="los1"></i>  </button> </a> 
   
</form>
</div>

<link rel="stylesheet" href="{% static 'plan/style.css' %}">
<script src="{% static 'plan/index.js' %}"></script>

{% endblock  %}