{% extends 'users/root.html' %}
{% block contents %}
{% load static %}

<h1 id="head"> LOGIN! </h1>

{% if message %}
<h4 id="time"> {{message}}  </h4>
{% endif %}
<div class="form-horizontal" >
<form class="form-horizontal" id="addform" method="POST" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
</div>

<link rel="stylesheet" href="{% static 'users/style.css' %}">
<script src="{% static 'users/index.js' %}"></script>

{% endblock  %}